<div class="modal fade" id="messageDetailsModal" tabindex="-1" role="dialog" aria-labelledby="messageDetailsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageDetailsModalLabel" data-translate="messageDetails">Detalles del Mensaje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong data-translate="timestamp">Fecha y Hora:</strong> <span id="messageTimestamp"></span></p>
                <p><strong data-translate="status">Estado:</strong> <span id="messageStatus"></span></p>
                <p><strong data-translate="messageType">Tipo de Mensaje:</strong> <span id="messageType"></span></p>
                <p><strong data-translate="subject">Materia:</strong> <span id="messageSubject"></span></p>
            </div>
        </div>
    </div>
</div>